<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I am Bibin</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>

</head>
<body>
<!-- HEad navbar -->

<nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{% static 'assets/home/img/programer.png' %}" alt="Bootstrap" width="50" height="50">
            Python Developer with a Passion for AI, GPT, and Django Development
        </a>
    </div>
</nav>
<!-- EBD -->
<!-- Footer -->
<nav class="navbar fixed-bottom bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">"An investment in knowledge pays the best interest." - Benjamin Franklin</a>
    </div>
</nav>
<!-- END -->
<div class="container mt-4">
    <div class="card text-bg-light mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{% static 'assets/home/img/bibin_3.jpg' %}" class="img-fluid rounded-start" alt="..."
                     width="300px">
            </div>
            <div class="col-md-8 position-relative ">
                <div class="card-body mt-5">
                    <h2 class="card-title mt-3">Bibin Kunjumon</h2>
                    <div class="badge bg-primary text-wrap position-absolute top-0 end-0" style="width: 18rem;">
                        <h3 class="card-title mt-3 ms-1 ">Full Stack</h3>
                    </div>
                    <h5 class="card-title text-muted mt-3">Python,Golang,Django,Angualr,Docker,Celery,AWS</h5>
                    <p class="card-text text-justify m-3 ">
                        I am a skilled software developer with over three years of experience in delivering secure
                        and reliable applications. My expertise lies in back-end user development and AI-related work.
                        Currently, I am employed as an AI and Full Stack Django Web Developer at Sayone Technology
                        Ltd., a US-based IT firm. I have a strong background in Python programming and am dedicated to
                        continuously improving my skills and knowledge in the field.

                    </p>
                    <p class="card-text"><small class="text-body-secondary">Last updated :08 April 2023</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <img src="{% static 'assets/home/img/brain.jpeg' %}" height="200px">
    </div>
    <!-- Grid Card system-->
    <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'assets/home/img/sayone.jpeg' %}" class="card-img-top" alt="..." height="300">

                    <h3 class="card-title">Python Engineer</h3>
                    <h5 class="card-title text-muted mt-3">SayOne Technologies,Kochi,India.</h5>
                    <p class="card-text text-center">As a seasoned developer with extensive experience in natural
                        language
                        processing, machine learning, and e-commerce web development, I have developed and fine-tuned
                        GPT-3 models for a variety of applications, including chat bot development and virtual avatar
                        development projects. <br>In addition, I have designed and developed e-commerce web platforms,
                        defining standard REST endpoints and integrating with SQL and PostgreSQL databases. Leveraging
                        AWS services, I have deployed and scaled web applications, ensuring optimal performance and
                        reliability.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'assets/home/img/robot.jpeg' %}" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                    <h3 class="card-title">Masters AI & Robotics</h3>
                    <h5 class="card-title text-muted mt-3">ITMO University,Ulitsa Lomonosova, 9, St Petersburg, Russia,
                        191002</h5>

                    <p class="card-text">The program aims to train researchers and developers with a distinctive set of
                        competencies at the intersection of robotics and artificial intelligence who exhibit a
                        systematic and critical thinking and can solve complex tasks using a range of industrial and
                        service robotics apps associated with the development of mathematical, algorithmical, and
                        program software to design, optimize, and humanize robots, organize human-machine and
                        machine-to-machine interactions, as well as systems for traffic planning, automatic control, and
                        decision-making.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-5"></div>

</div>
</body>


</html>